@model OglasAutomobila.Data.Oglasi

    <h1>Ukloniti oglas !</h1>

    <h1>Da li ste sigurni da želite da uklonite oglas sa našeg sajta?</h1>
    <form asp-action="Delete">
        <div class="form-group">
            <input class="btn btn-dark" style="margin-top:10px;" type="submit" value="Da" />
        </div>
        <a href="/" class="btn btn-info" style="margin-top:60px;">Ne</a>
    </form>



