@model OglasAutomobila.Data.AspNetUserRole

<h1>Dodaj tehničku rolu korisniku</h1>

<h1>Da li želite da dodate rolu izabranom korisniku?</h1>
<form method="post" asp-action="DodajRolu">
    <div class="form-group">
        <input class="btn btn-dark" style="margin-top:10px;" type="submit" value="Da" />
    </div>
    <a href="/" class="btn btn-info" style="margin-top:60px;">Ne</a>
</form>
